[Desktop Entry]
Version=1.0
Name=itcoin 
Comment=itcoin P2P Cryptocurrency
Comment[fr]=itcoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=itcoin, eşten eşe kriptografik sanal para birimi
Exec=itcoin-qt %u
Terminal=false
Type=Application
Icon=pivx128
MimeType=x-scheme-handler/itcoin;
Categories=Office;Finance;
StartupWMClass=itcoin-qt
